{% extends "mypage/mypage_main.html" %}
{% load widget_tweaks %}
{% block title %}password_change_form.html{% endblock %}

{% block content %}
{% include 'mypage/mypage_menu.html' %}
{% if form.errors %}
<script>
alert('비밀번호를 잘못 입력하였습니다.');
</script>

{% endif %}
<div class="container">
<form id="modify-user-form" action="." class="card pt-3" method="post">{% csrf_token %}
    <div class="type_form member_join">
        <div class="field_head">
            <h3 class="tit">비밀번호 변경</h3>
            <p class="sub"><span class="ico">*</span>필수입력사항</p>
        </div>
        <table class="tbl_comm">
            <tbody>
            <tr class="fst">
                <th>이전 비밀번호<span class="ico">*<span class="screen_out">필수항목</span></span></th>
                <td>
                    <div class="form-group row">
<!--                        <label class="col-form-label col-sm-3 ml-3 font-weight-bold"></label>-->
                        <div class="col-sm-5 user-fill">
                            {{ form.old_password|add_class:"form-control"|attr:"autofocus" }}
                        </div>
                    </div>
                </td>
            </tr>
             <tr>
                <th>새 비밀번호<span class="ico">*<span class="screen_out">필수항목</span></span></th>
                <td>
                    <div class="form-group row">
<!--                        <label class="col-form-label col-sm-3 ml-3 font-weight-bold"></label>-->
                        <div class="col-sm-5 user-fill">
                            {{ form.new_password1|add_class:"form-control"|attr:"autofocus" }}
                        </div>
                    </div>
                </td>
            </tr>
             <tr>
                <th>비밀번호 확인<span class="ico">*<span class="screen_out">필수항목</span></span></th>
                <td>
                    <div class="form-group row">
<!--                        <label class="col-form-label col-sm-3 ml-3 font-weight-bold"></label>-->
                        <div class="col-sm-5 user-fill">
                            {{ form.new_password2|add_class:"form-control"|attr:"autofocus" }}
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="form_footer" id="formSubmit">
            <button class="btn active btn_join" onclick="formJoinSubmit()"
                    type="submit" type="button">수정하기
            </button>
        </div>
    </div>
</form>
{% endblock %}
    {% block extra-script %}
<script> active = 3;
    mymenu[active].classList.add("mymenu-active");

</script>
{% endblock %}