{% extends "mypage/mypage_main.html" %}
{% load widget_tweaks %}
{% block title %}password_change_form.html{% endblock %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger">
    <div class="font-weight-bold">
        Wrong! Please correct the error(s) below.
    </div>
    {{ form.errors }}
</div>
{% endif %}
<div style="height:180px"></div>
    <div class="layout-wrapper">
        <div class="indiv">

            <div class="xans-member-joincomplete">
                <div class="joinComplete">
                    <p class="desc">비밀번호 변경이 완료되었습니다.</p>
                    <p class="button">
                        <a href="{% url 'home' %}"><span
                                class="bhs_button active">메인 페이지로 이동</span></a>
                        <a href="{%url 'mypage:mypage_index' %}"><span class="bhs_button">마이페이지로 이동</span></a>
                    </p>
                </div>
            </div>
            <div style="height:100px;"></div>
        </div>
    </div>
{% endblock %}
    {% block extra-script %}
<script> active = 3;
    mymenu[active].classList.add("mymenu-active");

</script>
{% endblock %}