{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}register.html{% endblock %}
{% block content %}


{% if form.errors %}
<div class="alert alert-danger">
    <div class="font-weight-bold">
        Wrong! Please correct the error(s) below.
    </div>
    {{ form.errors }}
</div>
{% endif %}
<form id="register-form" action="." class="card pt-3" method="post">{% csrf_token %}
    <div class="type_form member_join ">
        <div class="field_head">
            <h3 class="tit">회원가입</h3>
            <p class="sub"><span class="ico">*</span>필수입력사항</p>
        </div>
        <table class="tbl_comm">
            <tbody>
            <tr class="fst">
                <th>아이디<span class="ico">*<span class="screen_out">필수항목</span></span></th>
                <td>
                    <div class="form-group row">
<!--                        <label class="col-form-label col-sm-3 ml-3 font-weight-bold"></label>-->
                        <div class="col-sm-5">
                            {{ form.username|add_class:"form-control"|attr:"autofocus" }}

                            <!--                <input fld_esssential="" label="아이디" maxlength="16" name="m_id" option="regId"-->
                            <!--                       placeholder="6자 이상의 영문 혹은 영문과 숫자를 조합" required="" type="text"-->
                            <!--                       value="">-->
<!--                            <input fld_esssential="" label="아이디중복체크" name="chk_id" required=""-->
<!--                                   type="hidden" value="">-->
<!--                            <a class="btn default" href="javascript:chkId()">중복확인</a>-->
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>비밀번호<span class="ico">*<span class="screen_out">필수항목</span></span></th>
                <td>
                    <div class="form-group row">
<!--                        <label class="col-form-label col-sm-3 ml-3 font-weight-bold"></label>-->
                        <div class="col-sm-5">
                            {{ form.password1|add_class:"form-control" }}

                            <!--                <input class="reg_pw" fld_esssential="" label="비밀번호" maxlength="16"-->
                            <!--                       name="password" option="regPass" placeholder="비밀번호를 입력해주세요" required=""-->
                            <!--                       type="password">-->

                            <p class="txt_guide square">
                                <span class="txt txt_case1">10자 이상 입력</span>
                                <span class="txt txt_case2">영문/숫자/특수문자(공백 제외)만 허용하며, 2개 이상 조합</span>
                                <span class="txt txt_case3">동일한 숫자 3개 이상 연속 사용 불가</span>
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="member_pwd">
                <th>비밀번호확인<span class="ico">*<span class="screen_out">필수항목</span></span>
                </th>
                <td>
                    <!--                <input class="confirm_pw" fld_esssential="" label="비밀번호" maxlength="16"-->
                    <!--                       name="password2" option="regPass" placeholder="비밀번호를 한번 더 입력해주세요" required=""-->
                    <!--                       type="password">-->
                    <div class="form-group row">
<!--                        <label class="col-form-label col-sm-3 ml-3 font-weight-bold"></label>-->
                        <div class="col-sm-5">
                            {{ form.password2|add_class:"form-control" }}

                            <p class="txt_guide square">
                                <span class="txt txt_case1">동일한 비밀번호를 입력해주세요.</span>
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>이름<span class="ico">*<span class="screen_out">필수항목</span></span></th>
                <td>
                    <!--                <input fld_esssential="" label="이름" name="name" placeholder="이름을 입력해주세요" required=""-->
                    <!--                       type="text" value="">-->
                    <div class="form-group row">
<!--                        <label class="col-form-label col-sm-3 ml-3 font-weight-bold"></label>-->
                        <div class="col-sm-5">
                            {{ form.real_name|add_class:"form-control"}}
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="field_phone">
                <th>휴대폰</th>
                <td>
                    <div class="form-group row">
<!--                        <label class="col-form-label col-sm-3 ml-3 font-weight-bold"></label>-->
                        <div class="col-sm-5" >
                            {{ form.phone|add_class:"form-control" }}

                            <!--                <div class="phone_num">-->
                            <!--                    <input class="inp" name="mobileInp" pattern="[0-9]*" placeholder="숫자만 입력해주세요" type="text" value="">-->

                            <!--                </div>-->
                            <p class="txt_guide">
                                <span class="txt txt_case1"></span>
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="field_email">
                <th>이메일<span class="ico">*<span class="screen_out">필수항목</span></span></th>
                <td>
                    <div class="form-group row">
<!--                        <label class="col-form-label col-sm-3 ml-3 font-weight-bold"></label>-->
                        <div class="col-sm-5"  >
                            {{ form.email|add_class:"form-control"}}


                            <!--                <input data-email="" fld_esssential="" label="이메일" name="email" option="regEmail"-->
                            <!--                       placeholder="예: marketkurly@kurly.com" required="" size="30" type="text"-->
                            <!--                       value="">-->
<!--                            <input fld_esssential="" label="이메일중복체크" name="chk_email" required=""-->
<!--                                   type="hidden">-->
<!--                            <a class="btn default" href="javascript:void(0)"-->
<!--                               onclick="chkEmail()">중복확인</a>-->
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="field_email">
                <th>주소</th>
                <td>
                    <div class="form-group row">
<!--                        <label class="col-form-label col-sm-3 ml-3 font-weight-bold"></label>-->
                        <div class="col-sm-5"  >
                            {{ form.addr|add_class:"form-control"}}
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="field_email">
                <th>생일</th>
                <td>
                    <div class="form-group row">
<!--                        <label class="col-form-label col-sm-3 ml-3 font-weight-bold"></label>-->
                        <div class="col-sm-5"  >
                            {{ form.birthdate|add_class:"form-control"}}
                        </div>
                    </div>
                </td>
            </tr>



            </tbody>
        </table>
        <div class="form_footer" id="formSubmit">
            <button class="btn active btn_join" onclick="formJoinSubmit()"
                    type="submit" type="button">가입하기
            </button>
        </div>
</div>
</form>

{% endblock %}