
<link rel="stylesheet" href="style+shop.css">
<meta charset="UTF-8">
<div id="main">
    <div id="content">

    <div class="page_aticle">
        <div id="lnbMenu" class="lnb_menu">
            <div id="bnrCategory" class="bnr_category" style="">
                <div class="thumb"><img src="" alt="카테고리배너"></div>
            </div>
            <div class="inner_lnb">
                <div class="ico_cate"><span class="ico" style="display: block;"><img
                        src="https://img-cf.kurly.com/shop/data/category/icon_veggies_active_pc@2x.1586324570.png"
                        id="goodsListIconView" alt="카테고리 아이콘"></span> <span class="tit">채소</span></div>
                <ul class="list">
                    <li data-start="17" data-end="76"><a class="on">전체보기</a></li>
                    <li data-start="85" data-end="144"><a class="">기본채소</a></li>
                    <li data-start="153" data-end="268"><a class="">쌈·샐러드·간편채소</a></li>
                    <li data-start="277" data-end="385"><a class="">브로콜리·특수채소</a></li>
                    <li data-start="394" data-end="481"><a class="">콩나물·버섯류</a></li>
                    <li data-start="490" data-end="594"><a class="">시금치·부추·나물</a></li>
                    <li data-start="604" data-end="714"><a class="">양파·마늘·생강·파</a></li>
                    <li data-start="722" data-end="837"><a class="">파프리카·피망·고추</a></li>

                </ul>
            </div>
        </div>
        <div id="goodsList" class="page_section section_goodslist">
            <div class="list_ability">
                <div class="sort_menu">
                    <div class=""><!---->
                        <div class="select_type user_sort"><a class="name_select">추천순</a><!----><!----><!----><!---->
                            <ul class="list">
                                <li><a class="on">추천순</a></li>
                                <li><a class="">신상품순</a></li>
                                <li><a class="">인기상품순</a></li>
                                <li><a class="">낮은 가격순</a></li>
                                <li><a class="">높은 가격순</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list_goods">
                <div class="inner_listgoods">
                    <ul class="list">
                        <li>
                            <div class="item">
                                <div class="thumb"><a class="img"
                                                      style="background-image: url(&quot;https://img-cf.kurly.com/shop/data/goods/1567574126435l0.jpg&quot;);">
                                    <!----> <img src="https://img-cf.kurly.com/shop/data/goods/1567574126435l0.jpg"
                                                 alt="무농약 콩으로 재배한 콩나물(1봉/200g)"
                                                 onerror="this.src='https://res.kurly.com/mobile/img/1808/img_none_x2.png'"
                                                 width="308" height="396"></a> <!----> <!---->
                                    <div class="group_btn">
                                        <button type="button" class="btn btn_cart"><span class="screen_out">38300</span>
                                        </button> <!----></div>
                                </div>
                                <a class="info"><span
                                        class="name">                    [김구원선생] 무농약 콩나물 200g                </span> <span
                                        class="cost"><!----> <!----> <span class="price">1,300원</span></span> <span
                                        class="desc">무농약 콩으로 재배한 콩나물(1봉/200g)</span></a> <span class="tag"><!----></span>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="thumb"><a class="img"
                                                      style="background-image: url(&quot;https://img-cf.kurly.com/shop/data/goods/1530172373295l0.jpg&quot;);">
                                    <!----> <img src="https://img-cf.kurly.com/shop/data/goods/1530172373295l0.jpg"
                                                 alt="믿고 먹을 수 있는 상품을 합리적인 가격에, KF365"
                                                 onerror="this.src='https://res.kurly.com/mobile/img/1808/img_none_x2.png'"
                                                 width="308" height="396"></a> <!----> <!---->
                                    <div class="group_btn">
                                        <button type="button" class="btn btn_cart"><span class="screen_out">26448</span>
                                        </button> <!----></div>
                                </div>
                                <a class="info"><span
                                        class="name">                    [KF365] 햇 감자 1kg                </span> <span
                                        class="cost"><!----> <!----> <span class="price">2,380원</span></span> <span
                                        class="desc">믿고 먹을 수 있는 상품을 합리적인 가격에, KF365</span></a> <span
                                    class="tag"><!----></span></div>
                        </li>
                        <li>
                            <div class="item">
                                <div class="thumb"><a class="img"
                                                      style="background-image: url(&quot;https://img-cf.kurly.com/shop/data/goods/1532598080657l0.jpg&quot;);">
                                    <!----> <img src="https://img-cf.kurly.com/shop/data/goods/1532598080657l0.jpg"
                                                 alt="믿고 먹을 수 있는 상품을 합리적인 가격에, KF365"
                                                 onerror="this.src='https://res.kurly.com/mobile/img/1808/img_none_x2.png'"
                                                 width="308" height="396"></a> <!----> <!---->
                                    <div class="group_btn">
                                        <button type="button" class="btn btn_cart"><span class="screen_out">27318</span>
                                        </button> <!----></div>
                                </div>
                                <a class="info"><span
                                        class="name">                    [KF365] 깐마늘 200g                </span> <span
                                        class="cost"><!----> <!----> <span class="price">2,580원</span></span> <span
                                        class="desc">믿고 먹을 수 있는 상품을 합리적인 가격에, KF365</span></a> <span
                                    class="tag"><!----></span></div>
                        </li>
                           </ul></div></div>
                            <div class="layout-pagination">
                                <div class="pagediv"><a href="#main" class="layout-pagination-button layout-pagination-first-page">맨 처음 페이지로 가기</a>
                                    <a href="#main" class="layout-pagination-button layout-pagination-prev-page">이전 페이지로 가기</a>
                                    <span><!----> <strong class="layout-pagination-button layout-pagination-number __active">1</strong></span><span><a
                                            class="layout-pagination-button layout-pagination-number">2</a> <!----></span><span><a
                                            class="layout-pagination-button layout-pagination-number">3</a> <!----></span><span><a
                                            class="layout-pagination-button layout-pagination-number">4</a> <!----></span> <a href="#main"class="layout-pagination-button layout-pagination-next-page">다음
                                        페이지로 가기</a> <a href="#main" class="layout-pagination-button layout-pagination-last-page">맨 끝 페이지로 가기</a>
                                </div>
                            </div></div>
                            </div>

</div>
    </div>
    </div>