{% load widget_tweaks %}

{% block content %}
<body>



<div id="main">
    <div id="content">

        <div id="qnb" class="quick-navigation" style="top: 70px;">
        </div>
        <div class="bg_loading" id="bgLoading" style="display: none;">
            <div class="loading_show"></div>
        </div>
        <div class="page_aticle aticle_type2">
            <div id="grid">
                <div id="snb" class="snb_my">
                <h2 class="tit_snb">마이페이지</h2>
                <div class="inner_snb">
                    <ul class="list_menu">
                        <li>
                            <a href="{% url 'mypage:order' %}">주문내역</a>
                        </li>
                        <li>
                            <a href="{% url 'mypage:wishlist' %}">찜한 아이템</a>
                        </li>
                        <li>
                            <a href="{% url 'mypage:review' %}">상품 후기</a>
                        </li>
                        <li>
                            <a href="{% url 'mypage:modify_user' %}">회원정보 수정</a>
                        </li>
                    </ul>
                </div>
                </div>



{% endblock %}
