{% extends "mypage/mypage_main.html" %}
{% block title %}User modification{% endblock %}
{% load widget_tweaks %}
{% block extra-style %}
<style>
    .user-fill{
             line-height: 40px;
             }
    .member_join .modify-password{
        width: 50px;
        line-height:0px;
        height:30px;
        margin-top:5px;
        padding:0;
        margin-left:0;

    }

</style>
{% endblock %}
{% block content %}
    {% include 'mypage/mypage_menu.html' %}
{% if form.errors %}
<div class="alert alert-danger">
    <div class="font-weight-bold">
        Wrong! Please correct the error(s) below.
    </div>
    {{ form.errors }}
</div>
{% endif %}
<div class="container">
<form id="modify-user-form" action="." class="card pt-3" method="post">{% csrf_token %}
    <div class="type_form member_join">
        <div class="field_head">
            <h3 class="tit">회원정보 수정</h3>
            <p class="sub"><span class="ico"></span></p>
        </div>
        <table class="tbl_comm">
            <tbody>
            <tr class="fst">
                <th>아이디</th>
                <td>
                    <div class="form-group row">
<!--                        <label class="col-form-label col-sm-3 ml-3 font-weight-bold"></label>-->
                        <div class="col-sm-5 user-fill">
                            {{user.username}}
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td>
                    <div class="form-group row">
                        <div class="col-sm-5 user-fill">
                            <button class="btn active modify-password" onclick="location.href='{% url 'register:password_change' %}'"
                            type="button" >수정
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>이름</th>
                <td>
                    <div class="form-group row">
                        <div class="col-sm-5 user-fill">
                            {{user.real_name}}
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="field_email">
                <th>이메일</th>
                <td>
                    <div class="form-group row user-fill">
<!--                        <label class="col-form-label col-sm-3 ml-3 font-weight-bold"></label>-->
                        <div class="col-sm-5"  >
                            {{user.email}}
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="field_phone">
                <th>휴대폰</th>
                <td>
                    <div class="form-group row">
<!--                        <label class="col-form-label col-sm-3 ml-3 font-weight-bold"></label>-->
                        <div class="col-sm-5" >
                            {{ form.phone|add_class:"form-control" }}

                            <!--                <div class="phone_num">-->
                            <!--                    <input class="inp" name="mobileInp" pattern="[0-9]*" placeholder="숫자만 입력해주세요" type="text" value="">-->

                            <!--                </div>-->
                            <p class="txt_guide">
                                <span class="txt txt_case1"></span>
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="field_phone">
                <th>주소</th>
                <td>
                    <div class="form-group row">
<!--                        <label class="col-form-label col-sm-3 ml-3 font-weight-bold"></label>-->
                        <div class="col-sm-5" >
                            {{ form.addr|add_class:"form-control" }}

                            <!--                <div class="phone_num">-->
                            <!--                    <input class="inp" name="mobileInp" pattern="[0-9]*" placeholder="숫자만 입력해주세요" type="text" value="">-->

                            <!--                </div>-->
                            <p class="txt_guide">
                                <span class="txt txt_case1"></span>
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="field_phone">
                <th>생일</th>
                <td>
                    <div class="form-group row">
<!--                        <label class="col-form-label col-sm-3 ml-3 font-weight-bold"></label>-->
                        <div class="col-sm-5" >
                            {{ form.birthdate|add_class:"form-control" }}

                            <!--                <div class="phone_num">-->
                            <!--                    <input class="inp" name="mobileInp" pattern="[0-9]*" placeholder="숫자만 입력해주세요" type="text" value="">-->

                            <!--                </div>-->
                            <p class="txt_guide">
                                <span class="txt txt_case1"></span>
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="form_footer" id="formSubmit">
            <button class="btn active btn_join" onclick="formJoinSubmit()"
                    type="submit" type="button">수정하기
            </button>
        </div>
    </div>
</form>

{% endblock %}
{% block extra-script %}
<script> active = 3;
    mymenu[active].classList.add("mymenu-active");

</script>
{% endblock %}