{% extends "mypage/mypage_main.html" %}
{% block title %}User modification{% endblock %}
{% load widget_tweaks %}

{% block content %}
    {% include 'mypage/mypage_menu.html' %}
    {%for item in review%}
        <h3><a href="#">{{item.order_id}}</a></h3>
        {{item.review_id}}<br>작성자 : {{item.user_id}}<br>상품명 : {{item.product_id}}<br>
        별점 : {{item.rating}} / 10<br>
        <p>내용 : {{item.content}}</p>
    {% endfor %}
{% endblock %}





{% block extra-script %}
<script> active = 2;
    mymenu[active].classList.add("mymenu-active");
</script>
{% endblock %}