{% extends "mypage/mypage_main.html" %}
{% block title %}User modification{% endblock %}
{% load widget_tweaks %}
{% load order_handler %}
{% block extra-style %}

    <style>
        .order_item {
            border:1px solid #e7e7e7;
            margin-top:40px;
        }
        .order_head {
            border-bottom:1px solid #e7e7e7;
            background-color:#e7e7e7;
            padding:20px;
        }
        .order_detail{
            padding:20px;
        }
        .order_hear_date h4{
            display:inline;
        }
        .order_head_link{
            font-size:13pt;
            line-height:25px;
            color:#5f0080;
        }
        .order_detail_link{
            font-weight:bold;
            color:#5f0080;
            text-decoration:underline;
        }
        .order_mainbox {
            border-top:2px solid;
            border-bottom:1px solid;
            border-color:#5f0080 #000000 #e7e7e7;
            padding:40px;
        }
    </style>
{% endblock %}
{% block content %}
    {% include 'mypage/mypage_menu.html' %}
    <div class="container member_join">
        <div class="field_head">
            <h3 class="tit">주문 내역</h3>
        </div>

        {% regroup order_detail|dictsort:"order_id" by order_id as grouped_order %}
        <div class="order_mainbox">
        {% if grouped_order %}

        {%for item in grouped_order%}

        <div class="order_item">
            <div class="order_head">
                <div class="order_head_date">
                <span><h4 style="display:inline;">주문일자: {{item.list.0.order.order_dt|date:"Y/m/d"}}</h4></span>

                <span style="float:right;"><a href="{%url 'mypage:order' %}{{item.grouper}}" class="order_head_link">주문상세 <i class="fas fa-chevron-right"></i></a></span>
                </div>
            </div>
            <div class="order_detail" style="line-height:2;">
                {% with product_amount=item.list|length|add:"-1" %}
                <a href="{%url 'mypage:order' %}{{item.grouper}}"><h5 class="order_detail_link">{{item.list.0.product}}
                {% if product_amount != 0 %}
                    외 {{product_amount}}가지 품목
                {% endif %}
                </h5></a>
                    주문 합계 : {{item.list|get_order_total}} 원
                {% endwith %}
            </div>
        </div>

        {% endfor %}
            <div style="justify-content:center;text-align:center;">
                {% include 'component/pagination.html' %}
            </div>
        {% else %}

            <p style="text-align:center;">주문내역이 없습니다.</p>
        {% endif %}
        </div>
    </div>
        {% endblock %}



{% block extra-script %}
<script> active = 0;
    getList = itemList
</script>
{% endblock %}