{% extends 'base2.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
{% for order in orders %}
<p>주문번호: {{order.id}}</p>
{% for order_info in order_info_set %}
<p>제품명: {{order_info.product.p_name}}</p>
<p>가격: {{order_info.product.price}}</p>
<p>수량: {{order_info.quantity}}</p>
<p>총액: {{order_info.sub_total}}</p>
<br>
{% endfor %}
<br><br><br>
{% endfor %}


</body>
</html>
<script>
let sort = document.getElementById("sort")
sort.onchange = function(e) {
    document.forms["sortForm"].submit();
}
let sortby = '{{sortby}}';

let length = sort.options.length;
for(let i=0; i<length; i++) {
    if(sortby === sort.options[i].value) {
        sort.options[i].selected = true;
    }
}

</script>
{% endblock %}