{% extends 'base2.html' %}
{% block content %}
    {% if not cart_items %}
    <div>
        <h1>쇼핑카트가 비어있어요...</h1>
    </div>
    {% else %}
    <div>
        <h1>쇼핑카트</h1>
    </div>

        {% for cart_item in cart_items %}
            <a href="{{cart_item.product.get_absolute_url}}">제품사진</a>

        {{cart_item.product.p_name}}
        <br>
        {{cart_item.product.id}}
        <br>
        {{cart_item.product.price}}
        <br>
        수량: {{cart_item.quantity}}
        <br>
        {{cart_item.sub_total}}
        <br>
         <a href="{% url 'cart:add_cart' cart_item.product.id %}" calss="custom_a">
            <i class="fas fa-plus-circle custom_icon"></i>
         </a>&nbsp;
        <a href="" calss="custom_a"><i class="fas fa-minus-circle custom_icon"></i>&nbsp;

        <a href="{% url 'cart:remove_cart' cart_item.product.id %}" class="custom_a">
            <i class="fas fa-trash-alt custom_icon"></i>
        </a>
        <br><br>
{% endfor %}
{% endif %}
<p>금액: {{ total }}</p>
<br><br>
<a class="btn btn-secondary" href="{% url 'order:cart_to_order' cart.id %}">주문하기</a>
{% endblock %}