{% block extra-style %}
<style>
    .page-item.active .page-link{
        background-color: #f7f7f7;
        color: #5f0080;
        border-color:#dee2e6;
    }
    .page-item.disabled .page-link{
        color:#e0e0e0;
    }
    .page-link{
        color:#909090;
        font-family:noto sans;
        border-radius:0  !important;

    }
     .page-link:hover{
        color: #5f0080;

    }
</style>
{% endblock %}
<ul class="pagination " style="margin:20px 0;justify-content:center;">

    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">
        {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#">
            {% endif %}
            <i class="fas fa-angle-double-left"></i></a></li>

    {% for page in paginator.page_range %}
    {% if page %}
    <li class="page-item {% if page == page_obj.number %}active{% endif %}"><a class="page-link" href="?page={{page}}">{{page}}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">
        {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">
        {% endif %}
        <i class="fas fa-angle-double-right"></i></a></li>
</ul>