{% load static%}
<!DOCTYPE html>
<html lang="en">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devie-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/adfa3cedd6.js"></script>

    <title>움치킨움치킨</title>
</head>


<body>

    <div class="">
        <div id="container">
            <div id="header">
                <div class="bnr_header">
                    <a>
                    </a>
                </div>
            </div>
            <div id="userMenu">
                <ul class="list_menu">
            {% if user.is_active %}

                    <li class="menu none_sub menu_join"><a href="" class="link_menu" >{% firstof user.get_username %}</a>
                    </li>
                    <li class="menu none_sub"><a href="{% url 'mypage:mypage_index'%}" class="link_menu" >마이페이지</a>
                    </li>
                    <li class="menu none_sub"><a href="{% url 'register:logout' %}" class="link_menu">Logout</a></li>

            {% else %}

                    <li class="menu none_sub menu_join"><a href="{% url 'register:sign_up'%}" class="link_menu" >회원가입</a>
                    </li>
                    <li class="menu none_sub"><a href="{% url 'register:login'%}" class="link_menu">로그인</a>
            {% endif %}
                    </li>
                </ul>
            </div>

            <h1><a href="{% url 'home' %}">움치킨움치킨</a></h1>

            <div id="gnb">
                <h2 class="screen_out">메뉴</h2>
                <div id="gnbMenu" class="gnb_kurly">
                    <div class="inner_gnbkurly">
                        <div class="gnb_main">
                            <ul class="gnb">
                                <li class="menu1"><a href="#none"><span class="ico"></span></span></a></li>
                               
                            </ul>
                            <div id="side_search" class="gnb_search">
                                <form action=""
                                    ><input type="hidden" name="searched"
                                        value="Y"> <input type="hidden" name="log" value="1"> <input type="hidden"
                                        name="skey" value="all"> <input type="hidden" name="hid_pr_text"
                                        value="검색어를 입력하세요"><input
                                        type="hidden" id="edit" name="edit" value=""> <input value="검색어를 입력하세요" required="required"
                                        label="검색어" class="inp_search"> <input type="image"
                                        src="https://res.kurly.com/pc/service/common/1908/ico_search_x2.png"
                                        class="btn_search"></form>
                            </div>
                            <div class="cart_count">
                                <div class="inner_cartcount"><a href=""
                                        class="btn_cart"><img
                                            src="https://res.kurly.com/pc/ico/1908/ico_cart_x2_v2.png" alt="장바구니">
                                        <span id="cart_item_count" class="num realtime_cartcount"
                                            style="display: none;"></span></a></div>
                                <div id="addMsgCart" class="msg_cart"><span class="point"></span>
                                    <div class="inner_msgcart"><img
                                            src="https://res.kurly.com/images/common/bg_1_1.gif" alt=""
                                            class="thumb">
                                        <p class="desc"><span class="tit"></span> <span class="txt">장바구니에
                                                담겼습니다.</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="content" style="padding-top:30px;">



                        </div>
                    </div>

                </div>
            </div>
          
        </div>
        {% block content%}{% endblock %}
    </div>


</body>
</html>
