{% load static%}
<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devie-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'menustyle.css' %}">
    <script src="https://kit.fontawesome.com/adfa3cedd6.js"></script>
    <script src="static_data/static/script.js/"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <title>움치킨움치킨</title>
    <style>
<!--    html, body{margin: 0;padding: 0;height:100%}-->
    .card{
        border:0;
    }
    .mainbox{
        height:220px;
        border-bottom:1px solid #bbbbbb;
    }
    </style>
    {% block extra-style %}{% endblock %}
</head>


<body>
<header>
    <div class="mainbox">
        <div id="container">
            <div id="header">
                <div class="bnr_header">
                    <a>
                    </a>
                </div>
            </div>
            <div id="userMenu">
                <ul class="list_menu">
                    {% if user.is_active %}
                    <li class="menu none_sub menu_join"><a href="" class="link_menu">{% firstof user.get_username %}</a>
                    </li>
                    <li class="menu none_sub"><a href="{% url 'mypage:mypage_index'%}" class="link_menu">마이페이지</a>
                    </li>
                    <li class="menu none_sub"><a href="{% url 'register:logout' %}" class="link_menu">Logout</a></li>
                    {% else %}
                    <li class="menu none_sub menu_join"><a href="{% url 'register:sign_up'%}" class="link_menu">회원가입</a>
                    </li>
                    <li class="menu none_sub"><a href="{% url 'register:login'%}" class="link_menu">로그인</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <h1><a href="{% url 'home' %}">움치킨움치킨</a></h1>
            <nav id="gnb">
                <h2 class="screen_out">메뉴</h2>
                <div id="gnbMenu" class="gnb_kurly">
                    <div class="inner_gnbkurly">
                        <div id='cssmenu'>
                            <div class="cssbox">
                                <ul style="width: 120px;">
                                    <li class='active has-sub' style="width: 120px;">
                                        <div style="font-size:18px;font-weight:700; height:50px; width:130px;padding-top:5px;">
                                            <i class="fas fa-bars"></i>
                                            <span>메인카테고리</span></div>
                                        <ul>
                                            <li class='has-sub'><a href='#'>Product 1</a>
                                                <ul>
                                                    <li><a href='#'>Sub Product</a></li>
                                                    <li><a href='#'>Sub Product</a></li>
                                                    <li><a href='#'>Sub Product</a></li>
                                                    <li><a href='#'>Sub Product</a></li>
                                                    <li><a href='#'>Sub Product</a></li>
                                                    <li><a href='#'>Sub Product</a></li>
                                                </ul>
                                            </li>
                                            <li class='has-sub'><a href='#'>Product 2</a>
                                                <ul>
                                                    <li><a href='#'>Sub Product</a></li>
                                                    <li><a href='#'>Sub Product</a></li>
                                                    <li><a href='#'>Sub Product</a></li>
                                                    <li><a href='#'>Sub Product</a></li>
                                                    <li><a href='#'>Sub Product</a></li>
                                                    <li><a href='#'>Sub Product</a></li>
                                                    <li><a href='#'>Sub Product</a></li>
                                                    <li><a href='#'>Sub Product</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="side_search" class="gnb_search">
                            <form action=""
                            ><input type="hidden" name="searched"
                                    value="Y"> <input type="hidden" name="log" value="1">
                                <input type="hidden" name="skey" value="all">
                                <input type="hidden" name="hid_pr_text" value="검색어를 입력하세요">
                                <input type="hidden" id="edit" name="edit" value="">
                                <input placeholder="검색어를 입력하세요" required="required" class="inp_search">
                                <input type="image"
                                       src="https://res.kurly.com/pc/service/common/1908/ico_search_x2.png"
                                       class="btn_search"></form>
                        </div>
                        <div class="cart_count">
                            <div class="inner_cartcount"><a href=""
                                                            class="btn_cart">
<!--                                <img src="https://res.kurly.com/pc/ico/1908/ico_cart_x2_v2.png" alt="장바구니">-->
                                <i class="fas fa-shopping-cart" style="font-size:25px;"></i>
                                <span id="cart_item_count" class="num realtime_cartcount"
                                      style="display: none;"></span></a></div>
                            <div id="addMsgCart" class="msg_cart"><span class="point"></span>
                                <div class="inner_msgcart">
<!--                                    <img src="https://res.kurly.com/images/common/bg_1_1.gif" alt=""-->
<!--                                        class="thumb">-->
                                    <i class="fas fa-shopping-cart"></i>
                                    <p class="desc"><span class="tit"></span> <span class="txt">장바구니에
                                                담겼습니다.</span></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content" style="padding-top:30px;">
                </div>
            </nav>
        </div>
    </div>
    <div>
    {% block content%}{% endblock %}
    </div>
</header>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
{% block extra-script %}{% endblock %}
</html>
