{% extends "base.html" %}
{% block extra-style %}
<style>
    .banner {
        max-width:100%;
        height:350px;
        padding:0;
        overflow:hidden;
        position:relative;
    }
    .imgs {
        width: 100%;
        height: 350px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto auto;
        font-size: 0;
        display:block;
        text-indent: -9999px;
        border-bottom:1px solid #bbbbbb;
    }
    .shoplist2 {
        display:block;
        margin-top:50px;
    }
    .main_text{
        padding-top: 40px;
        font-weight: 700;
        font-size: 25px;
        color: #333;
        line-height: 40px;
        text-align: none;
        letter-spacing: -.5px;
    }
</style>
{% endblock %}

{% block content %}

<div class="banner">
    <a href="#" class="imgs" style="background-image:url('/static_data/static/images/배너프로토2.jpg');">메인배너</a>
</div>
<div class="container shoplist2 test">
{% include 'shop/product_list.html' %}
</div>

{% endblock %}