{% extends 'base.html' %}
{% load widget_tweaks %}
{% block extra-style %}
<style>
    .nomargin-box{
        margin-left:0;
        padding-left:0;
    }
    .testingbox{
        color:inherit;
    }
</style>
{% endblock %}
{% block content %}

<div id="wrap" class="">
    <div id="container">
        <div id="header">
            <div class="section_view">
                <div id="sectionView">
                    <div class="inner_view">

                        <div class="thumb" style="background-image: url(&quot;{{product.p_url}}&quot;);">

                            <img src="https://res.kurly.com/mobile/service/goodsview/1910/bg_375x482.png"
                                 alt="상품 대표 이미지" class="bg">
                        </div>
                        <div>
                            <p class="goods_name"><strong class="name">{{product.p_name}}</strong>
                                <span class="short_desc">{{product.description}}</span></p>

                            <p class="goods_price"><span class="position"><span class="dc"><span class="dc_price">{{product.price}}<span
                                    class="won">&#x20A9;</span></span></span></span></p>


                            <div class="goods_info">
                                <dl class="list">
                                    <dt class="tit">판매단위</dt>
                                    <dd class="desc">1봉</dd>
                                </dl>
                                <dl class="list">
                                    <dt class="tit">중량/용량</dt>
                                    <dd class="desc">100g/20gX5개입</dd>
                                </dl>
                                <dl class="list">
                                    <dt class="tit">배송구분</dt>
                                    <!---->
                                    <dd class="desc">택배배송</dd>
                                </dl>
                                <!---->
                                <dl class="list">
                                    <dt class="tit">포장타입</dt>
                                    <dd class="desc"> 냉장/종이포장 <strong class="emph">택배배송은 에코포장이 스티로폼으로 대체됩니다.</strong>
                                    </dd>
                                </dl>
                                <dl class="list">
                                    <dt class="tit">알레르기정보</dt>
                                    <dd class="desc">
                                        이 제품은 알류, 땅콩, 대두, 밀, 돼지고기, 복숭아, 토마토, 호두, 쇠고기, 아황산류를 사용한 제품과 같은 제조시설에서 제조
                                    </dd>
                                </dl>


                                <dl class="list">
                                    <dt class="tit">구매 수량</dt>
                                    <dd class="desc">
                                        <form name="form" action="{% url 'cart:add_to_cart' product.id %}" method="post">{% csrf_token %}
                    <input type=hidden name="sell_price" value="{{product.price}}">
                                    <div style="display:flex;"><input type="button" value=" - " onclick="del();"    style="width: 15.97728px;border:0;background-color:#ffffff;outline:0;"><br>
                    <input type="text" name="quantity" value="1" size="3" onchange="change();"style="width: 28.97728px;text-align: center;border:0;background-color:#ffffff;">
                    <input type="button" value=" + " onclick="add();" style="border:0;background-color:#ffffff;outline:0;"></div>


                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="cartPut">
                    <div class="cart_option cart_type2">
                        <!---->
                        <div class="inner_option">
                            <div class="total">
                                <div class="product-btns">
                                    <div class="price">
                                        <!----> <strong class="tit">
                                        총 상품금액 : </strong> <input type="text" name="sum" size="11" readonly style="font-weight: 800;font-size: 32px;line-height: 32px;width: 111px; outline:0;border:0;text-align: right;">
                                        <span class="won">&#x20A9;</span>
                        <br>
                                    </div>
                                </div>
                                <div class="group_btn off">
                                    <div class="view_function">
                                        <!---->
                                        <button type="button" class="btn btn_alarm off">재입고 알림</button>
                                    </div>

                                    <span class="btn_type1"><button type="submit"
                                                                     class="txt_type">장바구니 담기</button></span>
                                    </form>
                                </div>
                                <!---->
                                <!---->
                                <!---->
                                <!---->
                                <!---->
                            </div>
                        </div>
                    </div>
                    <!--                <a class="btn btn-secondary" href="{% url 'cart:add_cart' product.id %}">장바구니에 담기</a>-->

                </div>
            </div>
        </div>

        <div class="layout-wrapper goods-view-area">


            <div class="goods_wrap">

            </div>


            <div class="happy_center fst" style="padding-top:200px; padding-bottom:200px">
                <div class="happy">
                    <h4 class="tit">고객행복센터</h4>
                    <p class="sub">
                        <span class="emph">궁금하신 점이나 서비스 이용에 불편한 점이 있으신가요?</span><span class="bar"></span>
                        문제가 되는 부분을 사진으로 찍어<span class="bar"></span>
                        아래 중 편하신 방법으로 접수해 주시면<span class="bar"></span>
                        빠르게 도와드리겠습니다.
                    </p>
                </div>
                <ul class="list">
                    <li>
                        <div class="tit">전화 문의 6744-8542</div>
                        <div class="sub">오전 7시~오후 7시 (연중무휴)</div>
                    </li>
                    <li>
                        <div class="tit">카카오톡 문의</div>
                        <div class="sub">오전 7시~오후 7시 (연중무휴)</div>
                        <div class="expend">
                            카카오톡에서 ’움치킨’을 검색 후<br>
                            대화창에 문의 및 불편사항을<br>
                            남겨주세요.
                        </div>
                    </li>
                    <li>
                        <div class="tit">홈페이지 문의</div>
                        <div class="sub">
                            24시간 접수 가능<br>
                            로그인 &gt; 움치킨 &gt; 1:1 문의
                        </div>
                        <div class="expend">
                            고객센터 운영 시간에 순차적으로 답변해드리겠습니다.
                        </div>
                    </li>
                </ul>
            </div>

            <div class="happy_center lst">
                <div class="happy unfold">
                    <h4 class="tit">교환 및 환불 안내</h4>
                    <p class="sub">
                        고객님의 단순 변심으로 인한 반품은 어려울 수 있으니 양해 부탁드립니다.
                    </p>
                </div>
            </div>


<div style="margin-top:80px">
    <div class="container">
        <div class="row">
            <div style="display:grid;grid-auto-flow:column;"><h3>상품 리뷰</h3><div>
            {% if user.is_active %}
            <div style="text-align: -webkit-right;margin-top:12px">
                <a href="{%url 'shop:add_review' pk=product.id %}" class="btn btn-sm">
                    <i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;&nbsp;리뷰작성</a>
            </div>
            {% endif %}
        </div>
    </div>
    <hr height="3px" style="border-top:2px solid">
    {% for review in product.review_set.all %}

    <div><h5>{{review.review_title}}</h5></div>

    <div class="nomargin-box" >
        <div class="row">
        <div>{% if review.rating == 1 %}
<i class="fa fa-star-half text-warning"></i>
{% elif review.rating == 2 %}
<i class="fa fa-star text-warning"></i>
{% elif review.rating == 3 %}
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star-half text-warning"></i>
{% elif review.rating == 4 %}
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star text-warning"></i>
{% elif review.rating == 5 %}
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star-half text-warning"></i>
{% elif review.rating == 6 %}
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star text-warning"></i>
{% elif review.rating == 7 %}
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star-half text-warning"></i>
{% elif review.rating == 8 %}
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star text-warning"></i>
{% elif review.rating == 9 %}
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star-half text-warning"></i>
{% elif review.rating == 10 %}
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star text-warning"></i>
<i class="fa fa-star text-warning"></i>
{% endif %}
    </div>
     <div>
         <font color="#BDBDBD" size="1">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{review.author}}</font>
     </div>
    <div>
    <font color="#BDBDBD" size="1">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{review.r_modify_dt}}</font>
</div>
    </div>
    </div>
<br>
    {% for file in review.files.all %}
<img class="max-small" src="{{file.upload_file.url}}">

{% endfor %}
<br>
<br>
<font color="#353535" size="3">{{review.content | safe}}</font>
{% if review.author == user %}
{% if user.is_active %}
    <div class="text-right" >
<a href="{%url 'shop:update_review' pk=review.id %}" class="btn btn-sm">리뷰수정</a>

<a href="{%url 'shop:remove_review' review.id %}" class="btn btn-sm" onclick="return confirm('이 글을 삭제하시겠습니까?');" >리뷰삭제</a>
    </div>
{% endif %}
{% endif %}
<hr>
{% endfor %}
    <br>

<div class="nomargin-box">
<div class="row">
    <div style="display:grid;grid-auto-flow:column;"><h3>상품 문의</h3><div>
    {% if user.is_active%}
    {% if not user.is_superuser %}
<div style="text-align: -webkit-right;margin-top:12px">
    <a href="{%url 'shop:add_qna' product.id %}" class="btn btn-sm">
        <i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;&nbsp;문의작성</a>
</div>
 {%endif%}
{% endif %}
</div>
</div>
<hr height="5px" style="border-top:2px solid">
{% for qna in product.qna_set.all %}
{% if not qna.parent_id %}
<div><h5>{{ qna.qna_title }}</h5></div>
    <div class="nomargin-box" >
        <div class="row">

     <div>
         <font color="#BDBDBD" size="1">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{qna.author}}</font>
     </div>
    <div>
    <font color="#BDBDBD" size="1">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{qna.qna_create_date}}</font>
</div>
    </div>
    </div>

<br>
<font color="#353535" size="3">{{qna.content | safe}}</font>
{% if user.is_active %}
{% if qna.author == user %}
 <div class="text-right" >
<a href="{% url 'shop:update_qna' qna.id %}" class="btn btn-sm">문의수정</a>
<a href="{% url 'shop:remove_qna' qna.id %}" class="btn btn-sm">문의삭제</a>
 </div>
{% endif %} {% endif %}

{% if user.is_superuser %}
     <div class="text-right" >
    <a href="{% url 'shop:add_comment' product.id qna.id %}" class="btn btn-sm">답변작성(관리자)</a>
          </div>


{% endif %}

<div class="text-left testingbox">
{% for qna_comment in product.qna_set.all reversed %}
    {% if qna.id == qna_comment.parent_id %}
    <p>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-return-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
        </svg>
        <font color="#BDBDBD" size="1">관리자&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{ qna_comment.qna_modify_date }}</font>
        {% if user.is_superuser %}
        <a href="{% url 'shop:update_qna' qna_comment.id %}" class="btn btn-sm">답변수정</a>
        <a href="{% url 'shop:remove_qna' qna_comment.id %}" class="btn btn-sm" onclick="return confirm('이 글을 삭제하시겠습니까?');">답변삭제</a>
        {% endif%}
    </p>
    <p>{{ qna_comment | safe }}</p>

    {% endif %}
{% endfor %}
</div>
    <hr>
{% endif %}

{% endfor %}



</div>
</div>



</div>
{% endblock %}
