{% extends "base.html" %}
{% block title %}post_confirm_delete.html{% endblock %}
{% block content %}




<div id="wrap" class="">
    <div id="container">
        <div id="header">
            <div class="section_view">
                <h1>문의를 삭제합니다.</h1>


<div><form action="." method="post" style="text-align-last: center; padding-top:60px">{% csrf_token %}
    <p style="font-weight:1000; font-size:20px; color:#666; margin-bottom: 50px;">삭제하시겠습니까? </p>
    <input type="submit" value="확인" class="btn btn-danger btn-sm"/>
</form></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}