{% extends "base2.html" %}
{% load widget_tweaks %}
{% block title %}post_form.html{% endblock %}
{% block content %}
<style>
.star_left{
    background: url('/static_data/static/images/ico_review.png') no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.star_right{
    background: url('/static_data/static/images/ico_review.png') no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.star_left.on{background-position:0 0; }
.star_right.on{background-position:-15px 0; }
</style>

<h1>Review Create/Update </h1>
<p class="font-italic">This is a creation or update form for your Review.</p>
{% if form.errors %}
<div class="alert alert-danger">
    <div class="font-weight-bold">
        Wrong! Please correct the error(s) below.
    </div>
    {{ form.errors }}
</div>
{% endif %}


<form action="." method="post" enctype="multipart/form-data" class="card pt-3">{% csrf_token %}

    <h2>상품 리뷰를 남겨주세요! 값나오니? </h2>

     <div class="form-group">
    <label class="control-label col-sm-2" ></label>
    <div class="col-sm-10"><h2>{{ form.review_title }}</h2></div>
  </div>
    <div class="form-group">
        <div class="star-box">
       <span class="star star_left" value="1"></span>
       <span class="star star_right" value="2"></span>

       <span class="star star_left" value="3"></span>
       <span class="star star_right" value="4"></span>

       <span class="star star_left" value="5"></span>
       <span class="star star_right"  value="6"></span>

       <span class="star star_left" value="7"></span>
       <span class="star star_right" value="8"></span>

       <span class="star star_left" value="9"></span>
       <span class="star star_right" value="10"></span>
    </div>
    <div style="display:none;">
        <input type="range" class="form-control" id="rating" name="rating">
    </div>
    </div>

    <div class="form-group row">
        {{ form.description|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
        <div class="col-sm-5">
            {{ form.description|add_class:"form-control" }}
        </div>
        <small class="form-text text-muted">
            {{ form.description.help_text }}</small>
    </div>

    <div class="form-group row">
        <label for="files"
               class="col-form-label col-sm-2 ml-3 font-weight-bold">삭제할 파일 :</label>
        <div class="col-sm-8">
            {% for file in post.files.all %}
            <input type="checkbox" name="delete_files" value="{{file.id}}">
            {{file.filename}} ({{file.size | filesizeformat}})
            <br>
            {% endfor %}
        </div>
    </div>
    <div class="form-group row">
        <label for="files"
               class="col-form-label col-sm-2 ml-3 font-weight-bold">첨부 파일 :</label>
        <div class="col-sm-8 ">
            <input type="file" id="files" name="files" multiple>
        </div>
    </div>

    <div class="form-group row">
        {{ form.content|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}<div class="col-sm-8">{{ form.content|add_class:"form-control"}}</div>
    </div>

    <div class="form-group">
        <div class="offset-sm-2 col-sm-5">
            <input type="submit" value="Submit" class="btn btn-info"/>
        </div>
    </div>
</form>
{% endblock %}
{% block extra-script %}
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>
 tinymce.init({
 selector:'#id_content',
 menubar: false,
 statusbar: false,
 toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor |link | alignleft aligncenter alignright alignjustify | numlist bullistoutdent indent | removeformat'
 });
</script>

<script>
var rate = {{review.rating}};
if(rate){
for(var i=0; i<rate; i++){
            $(".star").eq(i).addClass("on");
};
};
</script>

<script>
$(".star").on('click',function(){
        var star_value = $(this).attr('value');
        $('#rating').val(star_value);
        var idx = $(this).index();
        $(".star").removeClass("on");
         for(var i=0; i<=idx; i++){
            $(".star").eq(i).addClass("on");
         };
});


</script>



{% endblock %}